@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 0;
}

html {
    background-color: #fff;
}

.tablepricesrental {
    background-color: rgb(12, 38, 61);
    width: 100%;
    padding: 4px;
}

.tablepricesrental th {
    text-align: left;
    color: #fff;
    font-weight: 500;
}
.tablepricesrental th:first-child {
    width: 65%;
}

.tablepricesrental td {
    color: rgba(255,255,255,0.7);
}

@media (max-width: 645px) {
    .tablepricesrental {
        margin-top: 10px;
    }
    .tablepricesrental th {
        font-size: 13px;
    }
    .tablepricesrental td {
        font-size: 10px;
    }
}

.loader_bg{
    position: fixed;
    z-index: 999999;
    background: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.loader{
    border: 0 soild transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}
.loader:before, .loader:after{
    content: '';
    border: 1em solid #009FE3;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}
.loader:before{
    animation-delay: .5s;
}
@keyframes loader{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}